body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card:hover {
  cursor: pointer;
}

.card.selected {
  border: 2px solid #007bff;
  background-color: rgba(20, 131, 248, 0.05);
  box-shadow: 0 8px 16px rgba(17, 132, 255, 0.3);
}
